body {
  max-width: 100%;
  margin: 0;
}

.container {
  margin-right: 10%;
  margin-left: 10%;
}


/* ==================== NAV BAR ====================  */

nav {
  margin-top: 8%;
}

.slack-logo {
  width: 25%;
  float: left;
}

.slack-logo img {
  box-sizing: border-box;
  width: 100%;
}

.menu-icon {
  width: 14%;
  float: right;
}

.menu-icon img {
  box-sizing: border-box;
  width: 100%;
}


/* ==================== HEADER ====================  */

header {
  clear: both;
}